<table class="table">
  <thead>
    <tr>
      <th>TOPIC</th>
      <th>URL</th>
      <th>DATE</th>
      <th>ADDRESS</th>
    </tr>
  </thead>
  <tbody>
    <% @outputs.each do |o| %>
    <tr>
      <td><%= o.topic %></td>
      <td><%= o.url %></td>
      <td><%= o.date %></td>
      <td><%= o.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
